body{
    background: white;
    background-image: url('/img/bck.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
}


.row{
    text-align: center;
    display: flex;
    justify-content: center;
}

.card{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    cursor: pointer;
    margin: 3px;
}

.card:hover{
    box-shadow: inset 0px 0px 0px 2px rgb(11, 51, 87);
    box-sizing: border-box;
}



button,.home,.p,.h{
    background-color: #a256ff;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    margin: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.ygreen{
	background-color: chartreuse;
}
.maron{
	background-color: rgb(151, 24, 22);
}
.green{
    background-color: darkgreen;
}

.blue{
    background-color: lightseagreen;
}

.pink{
    background-color: crimson;
}

.purple{
    background-color: blueviolet;
}

.yellow{
    background-color: gold;
}

.grey{
    background-color: darkslategray;
}

.orange{
    background-color: rgb(236, 129, 29);
}

.black{
    background-color: rgb(8, 21, 21);
}

.darkgreen{
    background-color: rgb(28, 69, 35);
}

.darkpink{
    background-color: rgb(139, 15, 65);
}
.color-hidden{
    background-color: papayawhip;
}


@media (max-width: 1200px) {
    .card {
      width: 60px;
      height: 60px;
    }
  
    button, .home, .p, .h {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  
  @media (max-width: 768px) {
    .card {
      width: 50px;
      height: 50px;
    }
  
    button, .home, .p, .h {
      font-size: 12px;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 40px;
      height: 40px;
    }
  
    button, .home, .p, .h {
      font-size: 10px;
      padding: 6px 12px;
    }
  }