body{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.row{
    text-align: center;
    display: flex;
    justify-content: center;
}

.card{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    cursor: pointer;
    margin: 3px;
}

.card:hover{
    box-shadow: inset 0px 0px 0px 2px rgb(11, 51, 87);
    box-sizing: border-box;
}



button{
    color: grey;
    background-color: pink;
    border-color: pink;
    margin: 5px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 7px;
    border-radius: 10px;
}

.green{
    background-color: darkgreen;
}

.blue{
    background-color: lightseagreen;
}

.pink{
    background-color: crimson;
}

.purple{
    background-color: blueviolet;
}

.yellow{
    background-color: gold;
}

.grey{
    background-color: darkslategray;
}

.color-hidden{
    background-color: papayawhip;
}